<section class="w-full py-16 md:py-20 2xl:py-24 bg-gray-50" id="about">
    <div class="mx-auto flex w-full max-w-7xl flex-col gap-6 px-4 md:gap-12 md:px-8">
        <div class="self-center">
            <div class="flex items-center justify-center rounded-xl bg-gray-200 px-5 py-1">
                <p class="text-normal text-sm font-medium">About me</p>
            </div>
        </div>
        <div class="flex w-full flex-col justify-between gap-12 md:flex-row">
            <div class="flex justify-center md:order-first md:justify-end">
                <div class="relative h-[380px] w-[320px] md:h-[460px] md:w-[380px] lg:h-[520px] lg:w-[440px]"><img
                        alt="Fullpose of Sagar" loading="lazy" width="1833" height="2318" decoding="async" data-nimg="1"
                        class="absolute z-10 h-[360px] w-[280px]  rounded-lg shadow-sm  max-md:left-5 md:right-0 md:top-0 md:h-[420px] md:w-[340px] lg:h-[480px] lg:w-[400px]"
                        style="color:transparent;object-fit:cover"
                      src="assets/image2.jpg">
                    <div
                        class="absolute h-[360px] w-[320px] border-8 border-transparent bg-gray-200 max-md:top-5 md:bottom-0 md:left-0 md:h-[420px] md:w-[340px] lg:h-[480px] lg:w-[400px]">
                    </div>
                </div>
            </div>
            <div class="flex max-w-xl flex-col gap-6">
                <h3 class="text-2xl md:text-3xl font-semibold tracking-[-0.02em] text-gray-900">Curious about me? Here
                    you have it:</h3>
                <p class="text-normal text-base">I'm a passionate,Web Developer who specializes in
                    full stack development (Angular &amp; Node.js). I am enthusiastic about bringing the technical and
                    visual aspects of digital products to life. User experience,  and writing
                    clear, readable, highly performant code matters to me.</p>
                <p class="text-normal text-base">I started my web development journey in 2021, and over the past two years, I've continuously honed my skills and taken on new challenges. I've embraced the latest technologies, including Angular, TypeScript, Node.js, and Tailwind CSS, to build cutting-edge web applications. My passion for web development has only grown stronger, and I'm excited to continue learning and growing in this dynamic field.</p>
                <p class="text-normal text-base">I am very much a progressive thinker and enjoy working on products end
                    to end, from ideation all the way to development.</p>
                
                <p class="text-normal text-base">Finally, some quick bits about me.</p>
                <div class="flex flex-col gap-2 md:flex-row md:gap-6">
                    <ul class="flex list-inside list-disc flex-col gap-2">
                        <li class="text-normal text-base">B.tech. in Mechanical Engineering</li>
                        <li class="text-normal text-base">Fullstack Web developer</li>
                    </ul>
                    <ul class="flex list-inside list-disc flex-col gap-2">
                        <li class="text-normal text-base">Avid learner</li>
                        <li class="text-normal text-base">Aspiring Learner</li>
                    </ul>
                </div>
                <p class="text-normal text-base">One last thing, I'm available for freelance work, so feel free to reach
                    out and say hello!</p>
            </div>
        </div>
    </div>
</section>