<div class="p-4 max-h-[78vh] overflow-y-auto">
    <p class="py-4 text-2xl px-2 text-purple-600 font-medium lg:flex justify-between items-center">{{questions?.name}} Interview Questions<span>{{questions?.questions?.length}} Questions</span></p>
    <details *ngFor="let item of questions?.questions;let i=index" class="group-open  my-2 card border border-gray-100 rounded-lg [&_summary::-webkit-details-marker]:hidden" open>
        <summary
            class="flex cursor-pointer items-center justify-between px-4 py-4 text-gray-500">
            <span class="text-sm font-medium">{{i+1}} . {{item.question}}</span>
            <span class="shrink-0 transition duration-300 group-open:-rotate-180">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
            </span>
        </summary>
        <ul class=" space-y-1 ">
            <ng-container>
                <li>
                    <a
                        class="block cursor-pointer rounded-lg px-4 pb-4  text-sm font-medium text-gray-500">
                        {{item.answer}}
                    </a>
                </li>
            </ng-container>
        </ul>
    </details>
</div>