<div class="max-w-7xl mx-auto">
  <!-- {{title}} -->
  <app-header></app-header>
  <div>
    <app-hero></app-hero>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-experience></app-experience>
    <app-testimonials></app-testimonials>
    <app-contact></app-contact>
    <footer class="w-full bg-gray-50 py-6">
      <div class="flex items-center justify-center gap-1">
        <p class="text-normal text-sm flex items-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="mr-1 inline-block h-4 w-4">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M15 9.354a4 4 0 1 0 0 5.292"></path>
          </svg>2023<!-- --> |&nbsp;<a target="_blank"
            class="underline underline-offset-4 transition-all hover:text-gray-900 active:text-gray-600"></a><a
            target="_blank" class="underline underline-offset-4 transition-all hover:text-gray-900 active:text-gray-600"
            href="https://github.com/sumanthnagireddi/my-app">coded</a>&nbsp;with ❤️️ by Sumanth Nagireddi</p>
      </div>
    </footer>
  </div>
</div>