
<!-- <div class="flex sm:hidden gap-4 px-2 py-2 font-medium text-xl text-purple-600">
  <button *ngIf="!openMenu" (click)="this.openMenu=!this.openMenu" type="button"
      class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
      <span class="sr-only">Open main menu</span>
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
  </button>
  Interview Questions
</div>
<div class="flex w-full h-full">
  <div class="sm:block hidden">
      <app-interview-sidebar [questions]="courses" />
  </div>
 
  <div class="mt-6 sm:hidden flow-root absolute  py-6 bg-white h-[300px] w-full top-10 z-10 left-0"
      *ngIf="openMenu">
      <div  class="-my-6 w-[70vw] divide-y divide-gray-500/10">
          <app-interview-sidebar (closeMenu)="openMenu=false" [questions]="courses" />
      </div>
  </div>
  <div class="flex-1">
      <router-outlet />
  </div>
</div> -->
<iframe 
  src="https://sumanthnagireddi-interview.web.app/" 
  class="w-full h-screen border-0"
  title="Embedded Site"
></iframe>
