<section class="w-full py-16 md:py-20 2xl:py-24 bg-gray-50" id="testimonials">
    <div class="mx-auto flex w-full max-w-7xl flex-col gap-6 px-4 md:gap-12 md:px-8">
        <div class="flex flex-col items-center gap-4">
            <div class="self-center">
                <div class="flex items-center justify-center rounded-xl bg-gray-200 px-5 py-1">
                    <p class="text-normal text-sm font-medium">Testimonials</p>
                </div>
            </div>
            <p class="text-normal text-lg md:text-xl max-w-xl text-center">Nice things people have said about me:</p>
        </div>
        <div class="grid gap-12 max-md:flex max-md:flex-col md:grid-cols-2 lg:grid-cols-3">
    <div *ngFor="let item of testimonials"
        class="rounded-xl card bg-gray mx-auto flex flex-col items-center gap-6 p-8 md:p-12">
        <img alt="avatar" loading="lazy" width="65" height="64" class="rounded-full border border-gray-100"
            decoding="async" data-nimg="1" style="color:transparent"
            src="data:image/jpeg;base64,...">
        <p class="text-normal text-base">"{{item.comment}}."</p>
        <div class="flex w-full flex-col gap-1">
            <p class="text-lg md:text-xl w-full text-center font-semibold text-gray-900">{{item.author}}</p>
            <p class="text-normal text-sm w-full text-center">{{item.authorRole}}</p>
        </div>
    </div>
</div>
    </div>
</section>
