<section class="w-full py-16 md:py-20 2xl:py-24 bg-gray-50">
  <div class="mx-auto flex w-full max-w-7xl flex-col gap-6 px-4 md:gap-12 md:px-8">
    <div class="flex flex-col items-center gap-4">
      <div class="self-center">
        <div class="flex items-center justify-center rounded-xl bg-gray-200 px-5 py-1">
          <p class="text-normal text-sm font-medium">Experience</p>
        </div>
      </div>
      <p class="text-normal text-lg md:text-xl max-w-xl text-center">Here is a quick summary of my most recent
        experiences:</p>
    </div>
    <div *ngFor="let item of experiences"
      class="rounded-xl bg-gray card mx-auto  w-full max-w-4xl justify-between gap-4 p-8  md:gap-8">
      <div class="block md:flex justify-between items-center">
        <div class=" md:w-1/4"><img alt="Upwork logo" loading="lazy" width="102" height="28"
            decoding="async" data-nimg="1" class="max-w-[120px] rounded-lg" src="{{item?.companyLogo}}"
            style="color: transparent;">
        </div>
        <p class="text-base text-gray-700 font-medium md:text-right">{{item?.from}} <!-- --> <!-- -->-<!-- -->
          <!-- -->{{item?.to}}
        </p>
      </div>
      <div>
        <div class="py-2"><span class="font-bold text-gray-800 text-lg">Designation</span> - <span
            class="text-lg font-bold tracking-tight bg-gradient-to-r from-emerald-600 via-teal-600 to-blue-800 bg-clip-text text-transparent">{{item?.role}}</span>
        </div>
        <p class="font-bold text-gray-800 text-base">Roles & Responsibilities :</p>
        <ul class="flex px-3 lg:px-6 list-disc flex-col gap-2 md:gap-1">

          <li *ngFor="let res of item?.responsibilities" class="text-normal text-base">{{res}}</li>
        </ul>
      </div>
      <div class="max-md:order-2 md:w-1/4">

      </div>
    </div>

  </div>
</section>
