<section class="w-full py-16 md:py-20 2xl:py-24 bg-gray-50">
    <div class="mx-auto flex w-full max-w-7xl flex-col gap-6 px-4 md:gap-12 md:px-8">
        <div class="flex flex-col items-center gap-4">
            <div class="self-center">
                <div class="flex items-center justify-center rounded-xl bg-gray-200 px-5 py-1">
                    <p class="text-normal text-sm font-medium">Experience</p>
                </div>
            </div>
            <p class="text-normal text-lg md:text-xl max-w-xl text-center">Here is a quick summary of my most recent
                experiences:</p>
        </div>
        <div *ngFor="let item of experiences"
            class="rounded-xl bg-gray card dark:bg-gray-100 dark:shadow-2xl mx-auto flex w-full max-w-4xl flex-col justify-between gap-4 p-8 md:flex-row md:gap-8">
            <div class="max-md:order-1 md:w-1/4"><img alt="Upwork logo" loading="lazy" width="102" height="28"
                    decoding="async" data-nimg="1" class="max-w-[120px]"
                    src="{{item?.companyLogo}}" 
                    style="color: transparent;"></div>
            <div class="flex flex-col gap-4 max-md:order-3 md:w-2/4">
                <p class="text-lg md:text-xl font-semibold text-gray-900">{{item?.companyName}} - {{item?.role}}</p>
                <ul class="flex list-disc flex-col gap-2 md:gap-1">
                    <li class="text-normal text-base">Worked for various projects.
                    </li>
                    <li class="text-normal text-base">Worked with a variety of technologies, including
                        Angular,Javascript,
                        Typescript, Node JS, Tailwindcss, Primeng, Jest,and others.
                    </li>
                </ul>
            </div>
            <div class="max-md:order-2 md:w-1/4">
                <p class="text-base text-gray-700 md:text-right">{{item?.from}} <!-- --> <!-- -->-<!-- --> <!-- -->{{item?.to}} 
                </p>
            </div>
        </div>
       
    </div>
</section>